name: Build Flutter APK

on:
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Setup Flutter
        uses: subosito/flutter-action@v2
        with:
          flutter-version: "3.19.6"
          channel: "stable"

      - name: Flutter doctor
        run: flutter doctor

      - name: Get dependencies
        run: flutter pub get

      - name: Create Android platform (if missing)
        run: |
          if [ ! -d "android" ]; then
            flutter create .
          fi

      - name: Build APK (split per ABI)
        run: flutter build apk --release --split-per-abi

      - name: Upload APK files
        uses: actions/upload-artifact@v4
        with:
          name: apk-files
          path: build/app/outputs/flutter-apk/*.apk
