name: Create Android Folder

on:
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Setup Flutter
        uses: subosito/flutter-action@v2
        with:
          flutter-version: 3.19.6
          channel: stable

      - name: Create Android folder
        run: |
          flutter clean
          flutter pub get
          flutter create .

      - name: Commit android folder
        run: |
          git config --global user.name "github-actions"
          git config --global user.email "actions@github.com"
          git add android ios
          git commit -m "Auto generate android & ios" || echo "Nothing to commit"
          git push
